
main{
  padding:6px 2px;
  color:rgb(229, 30, 30);

}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main--title{
  margin :0;
  font-size: 39px;
  letter-spacing: -0.05em;
}
.main--facts{
  margin-top: 40px;
}